<!-- 点击文章 -->
<div class="wenzhang-container">
  <wenzhang>
    <span class="frosted_glass"><h1 class="title is-3 is-4-mobile"><%-page.title%></h1>

      <div class="contents">
        <%- toc(page.content, {list_number:false}) %>
      </div>
      <%-page.content%> </span> 
      <div id="lv-container" data-id="city" data-uid="MTAyMC80NTk3NS8yMjQ4Ng==">
  </wenzhang>
</div>


<body>
  <!-- ... -->
  <div id="waline"></div>
  <script>
    Waline.init({
      el: '#waline',
      serverURL: 'https://comments.sdq3.ml/',
    });
  </script>

</body>  
<div>
      <!-- 博客链接 -->
      <p class="copyright"><strong>
        作者: Yosunair
        <br>
        本文来自于: 
         <a href="<%-page.permalink%>"><%-page.permalink%></a></strong></p>
</div>   
